/**
 * Created with Less.
 * User: Ushow Jack/youshoujie@tomee.cn
 * Date: 2017/4/13
 * Time: 14:51
 */

@import "normalize";
@import "variable";
@import "container";

html,
body{
  height: 100%;
  width: 100%;
  font-family: @body-font-family;
}
@import "myMixins/show";
.hidden{
  .hidden();
}
@import "head/header";
@import "leftSide/leftSideComponent";
